[Unit]
Description=Telegram bot 'RemindBot Alisia'
After=syslog.target
After=network.target

[Service]
Type=simple
User=semen106
WorkingDirectory=/home/semen106/bot/remind_bot
ExecStart=/usr/bin/python3 /home/semen106/bot/remind_bot/remindbot2.py
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target